{"model_names" ["GPN-GCN", "GCN", "LP"]
 "dataset_names" ["CiteSeer"]
 "samplers" ["own"]
 "num_steps" 20 ;; number of sampler runs
 "samples_per_step" 1 ;; in multiples of #classes
 "seed" 3133742069
 "repeats" 10
 "hyperparameters"
 {"subsampler" ["random" "medoids" "entropy" "pagerank" "own"]
  "label_propagation_uncertainty_treshold" [0 0.2] ;; 0 disables label propagation
  "hidden_dim_size" [64]
  "dropout" [0.5]
  "distance_loss_weight" [1]
  "learning_rate" [0.005]}}
