{"model_names" ["GCN"]
 "dataset_names" ["CiteSeer"]
 "samplers" ["own"]
 "budget" 20 ;; 20 classes
 "seed" 3133742069
 "repeats" 10
 "hyperparameters"
 {"entropy_pagerank_weighting" [-1 0 0.5 1 2]
  "label_propagation_uncertainty_treshold" [0 0.2] ;; 0 disables label propagation
  "hidden_dim_size" [64]
  "dropout" [0.5]
  "distance_loss_weight" [1]
  "learning_rate" [0.005]}}
