{"model_names" ["LP"]
 "dataset_names" ["ogbn-arxiv"]
 "samplers" ["own"]
 "num_steps" 20 ;; number of sampler runs
 "samples_per_step" 10 ;; in multiples of #classes
 "seed" 3133742069
 "repeats" 4
 "hyperparameters"
 {"subsampler" ["entropy"]
  "label_propagation_uncertainty_treshold" [0] ;; 0 disables label propagation
  "hidden_dim_size" [64]
  "dropout" [0.5]
  "distance_loss_weight" [1]
  "learning_rate" [0.005]}}
