{"model_names" ["GCN"]
 "dataset_names" ["Cora"]
 "samplers" ["own"]
 "budget" 5
 "seed" 3133742069
 "repeats" 2
 "hyperparameters"
 {"entropy_pagerank_weighting" [2]
  "label_propagation_uncertainty_treshold" [0.2] ;; 0 disables label propagation
  "hidden_dim_size" [64]
  "dropout" [0.5]
  "distance_loss_weight" [1]
  "learning_rate" [0.005]}}
